<div class="container mt-3">
  <div class="row justify-content-end pt-3">
    <div class="col-4 align-self-start" role="group">
      <%= link_to 'Back to List', lists_path, class: 'btn btn-outline-success'%>
  </div>
  <div class="row">
    <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-outline-success' %>
    <% end %>
  </div>
</div>
