<div class="container mt-3">
  <div class="pt-3">
    <div class="px-0">
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <div class="d-flex justify-content-end gap-2">
          <%= link_to lists_path, class: 'btn btn-outline-success' do %>
            <i class="fa-solid fa-left-long"></i>
          <% end %>
          <%= f.submit class: 'btn btn-outline-success' %>
        </div>
      <% end %>
    </div>
  </div>
